<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />

<div class="row-fluid" >
    <form action="set_teacher.php" enctype="multipart/form-data" method="POST">
    <fieldset>
    <input type="text" name="new_teacher" placeholder="新增教師，可以逗號分隔多人" class="span4">
    <button type="submit" name="do_key" class="btn btn-primary">新增</button>
	<button type="text" name="del_hide_key" class="btn btn-danger" value='del_all'>全部清除隱藏教師</button>
    </fieldset>
    </form>
<table class="table table-hover span7">
<tr><td>代號</td><td>姓名</td><td>類別(偏好中自訂)</td><td>顯示/隱藏</td></tr>

<{foreach  key=s_key item=teacher   from=$data.teacher  }>
<tr><td><{$s_key}></td>
<td><input type="text" id="name_<{$s_key}>"  data_ref="<{$s_key}>"   value="<{$teacher.name}>" class="name_edit" title="自動存入">
	<{if ($teacher.user_id==0) }>
	<i class="icon-stop" title="只出現於課表"></i>
	<{else}>
	<i data_ref="<{$s_key}>"   uid="<{$teacher.user_id}>" class="icon-user" title="網站成員，要先改名再點圖示，移除會員就可快速更換課表給他人。"></i>
	<{/if}>
</td>
<td><input type="text" id="kind_<{$s_key}>"   data_ref="<{$s_key}>"  value="<{$teacher.kind}>" class="kind_edit span4" title="<{$DEF_SET.es_tt_exteach_message}>"></td>
<td>
	<{if ($teacher.hide==0) }>
	<button class="btn btn-primary" type="button" data_ref="<{$teacher.teacher_id}>" title="選擇教師時不出現，不影響課表內容" >顯示</button>
	<{else}>
	<button class="btn btn-inverse" type="button" data_ref="<{$teacher.teacher_id}>" title="選擇教師時不出現，不影響課表內容">隱藏</button>
	<{/if}>
</td>
</tr>
<{/foreach}>

</table>

</div>
      <div class="alert alert-info">
      	<p>
            <span class="label label-info">說明</span><br />
            課表人員名單可以是獨立的，但每次進入本頁會試著加入或合併網站教師群組人員（右方會出現人頭圖示）。<br />
            人員隱藏時，代表在編排時，不出現該人名，但不影響已排課表內容。<br />
            類別 <{$DEF_SET.es_tt_exteach_message}>，方便列印簽到記錄。<br />
            快速把某人課表更換給他人的作法，在任課教師頁中，先更改教師姓名，如果右方為人頭圖示，代表有原連結網站成員，點擊後會移除變成只用於課表中。
        </p>
      </div>
<script>

//除去網站會員連結，快速把某人課表改給他人

$(function() {
	$(".icon-user").click(function(){
			var v_id = $( this ).attr('data_ref') ;
			//alert(v_id) ;
			var edit_text = $( this ).attr('uid') ;
			var class_mode = $( this ).attr('class') ;
			save_teacher( 'user_id' ,v_id ,  edit_text ) ;
			$(this).removeClass() ;
			$(this).addClass('icon-stop') ;

	});
});

//顯/隱
$(function() {
	$("button").click(function(){
			var v_id = $( this ).attr('data_ref') ;
			//alert(v_id) ;
			var class_mode = $( this ).attr('class') ;
			$(this).removeClass() ;
			if (class_mode =="btn btn-primary" ) {
				$(this).addClass('btn btn-inverse') ;
				$(this).text('隱藏') ;
			}else {
 				$(this).addClass('btn btn-primary') ;
 				$(this).text('顯示') ;
 			}
 		save_teacher( 'hide' ,v_id ,  class_mode ) ;
	});
});


//修改
$(function() {
	$(".name_edit").change(function(){
		var v_id = $( this ).attr('data_ref') ;
		var edit_text = $( this ).val();
		//alert(v_id) ;
 		save_teacher( 'edit' ,v_id ,  edit_text ) ;
	});
});

$(function() {
	$(".kind_edit").change(function(){
		var v_id = $( this ).attr('data_ref') ;
		var edit_text = $( this ).val();
		//alert(v_id) ;
 		save_teacher( 'edit_kind' ,v_id ,  edit_text ) ;
	});
});

 //寫入
 function save_teacher(do_mode ,tid , sdata )  {
  	$.ajax({
 		url: 'ajax_set_teacher.php',
 		type: 'GET',
 		data: {do: do_mode , id:tid  , setdata :sdata    },
 	})
 	.done(function(data) {
 		console.log("success");
 		//alert(data) ;
 	})
 	.fail(function() {
 		console.log("error");

 	})
 	.always(function() {
 		console.log("complete");
 	});
  }


</script>
