<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
<script language='javascript' type='text/javascript' src='<{$xoops_url}>/modules/tadtools/My97DatePicker/WdatePicker.js'></script>
<{if $data.info.year }>
<div class="row-fluid" >
      	<form action="index.php" enctype="multipart/form-data" method="post">
      	<span class="span6" ><h2>目前課表<{$data.info.year}>學年度  第<{$data.info.semester}>學期</h2></span>
      	<span class="span6" ><a class="btn btn-success" href="ed_timetable.php">開始編輯</a>
      	<button type="submit" name='act_clear'  value='刪除'  class="btn btn-danger" onclick='return confirm("真的要清空本學期課表?")' >清空</button>
      	</span>
      	</form>
</div>

    <{if ($data.error)}>
    <div class="alert alert-error">
      重複或錯誤:<br />
    <{$data.error}>
    </div>
    <{/if}>

	<a class="btn btn-info" href="export.php?mode=class_id">班級總表匯出</a> 
	<a class="btn btn-info" href="export.php?mode=teacher">教師個別課表匯出</a> 
	<a class="btn btn-info" href="export.php?mode=room">專科教室課表匯出</a><br />
	
	<a class="btn btn-inverse" href="export_excel.php?mode=teacher">教師總表匯出</a> 
	<a class="btn btn-inverse" href="export_subject.php">班級配課表匯出</a>
        <a class="btn btn-inverse" href="export_edu.php" title='身份證、特殊班年級等要自行修正'>教育部課表匯出</a>
  <br />
    <form action="export_sign.php" enctype="multipart/form-data" method="post">
    <fieldset>	
    <span class="span2"><input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='beg_date'  class='span2'   value="<{$data.beg_date}>" placeholder="指定開始日期"> </span>
     ~
    <input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='end_date'  class='span2'   value="<{$data.end_date}>" placeholder="指定結束日期">
    <button type="submit" name="do_2688"  value='2688' class="btn btn-success">2688師簽到表</button>
    依經費：<{html_options name=over_id id=over_id  options=$DEF_SET.es_tt_over_list    class="span2" }> 
    <button type="submit" name="do_plus"  value='超鐘點' class="btn btn-primary">鐘點簽到表</button><br/>    

    <{if $DEF_SET.es_tt_week_D}>
    <span class="span2" title='一週的開始為星期一'>開始日該周為：</span>
    <span class="span1"><label  title='開始日在單週'><input type="radio" name="week_m" value="1" checked >單週 </label> </span>
    <span class="span1"><label title='開始日在雙週'><input type="radio" name="week_m" value="2">雙週</label> </span><br/>  
    <{/if}>



    </fieldset>
    </form>    


  
    <form action="index.php" enctype="multipart/form-data" method="post">
    <fieldset>
    
    <button type="submit" name="do_key" class="btn btn-warning">複製為</button><input type="text" name="year" placeholder="新學年度" class="span2"><input type="text"  name="semester" placeholder="新學期" class="span1" title="1 或 2">
    </fieldset>

    </form>


<{else}>
尚未建立課表資料！
<{/if}>



 
    <form action="ed_timetable.php" enctype="multipart/form-data" method="get">
    <fieldset>
    <button type="submit" name="do_key" class="btn btn-primary">建製新學期</button><input type="text" name="year" placeholder="學年度" class="span2"><input type="text"  name="semester" placeholder="學期" class="span1" title="1 或 2">
    </fieldset>
    </form>    
 