<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
<link rel="stylesheet" href="<{$xoops_url}>/modules/tadtools/jquery/themes/base/jquery-ui.css">
<script src="<{$xoops_url}>/modules/tadtools/jquery/ui/jquery-ui.js"></script>
<style>
.groupbox {
 
    border: 1px dotted gray;
    background-color: #EEE;
    
 
}
.teacher_set {
 
    border: 1px dotted gray;
 
}
</style>
 
 <h3><{$data.n_y}> 學年度<{$data.n_s}> 學期</h3>
  
      <div class="row-fluid" > <!-- box1 -->
      
      
   
      <div class="span4" id="kmo_div">
        <!--  科目 -->
      	<{foreach  key=s_key item=subject    from= $data.subject_name }>
      		   <span class="span4 subj" data_ref="subj_<{$s_key}>_<{$subject}>"  ><label  id="subj_<{$s_key}>" title='<{$subject}>' name_title='<{$subject}>' class="label label-success">
      		   <{$subject}></label><i id="i_<{$s_key}>" ></i></span>
      	<{/foreach }>
      	<!--  教師 -->
      	<{foreach  key=t_key item=teacher    from= $data.teacher_list }>
      		   <span class="span2 tea" data_ref="tea_<{$t_key}>_<{$teacher}>"  ><label  id="tea_<{$t_key}>" title='<{$teacher}>' name_title='<{$teacher}>' class="label label-info">
      		   <{$teacher}></label><i id="i_<{$t_key}>" ></i></span>
      	<{/foreach }>      
      	
      </div> <!-- kmo_div end-->

      <div class="span8" id="table_div">
      	<div class="row-fluid" >
      	<div class='span3'>
      	班級：<{html_options name=class_id  options=$data.class_list  selected=$data.select_class_id  onchange="class_chang();"  class="span8" }> 
      	</div>
      	<div class='span4'>
      	<span class="span3">任教者</span><div class="span8 teacher_set" id="teacher_point" data_ref="" ></div>
      	</div>
      	<div class='span4'>
      	<span class="span3">教室</span><input name="room" placeholder="教室" class="span6" type="text">
      	</div>
      	</div>

      <table class="table table-bordered">
      <tr>
      <td class="span1">節</td>
      <{section name=di  start=1  loop=$DEF_SET.days  step=1  }>
      <td ><{$smarty.section.di.index}></td>
      <{ /section }>
      </tr>      
      <{section name=si  start=1  loop=$DEF_SET.sects    step=1  }>
      <tr>
      <td class="span1"><{$smarty.section.si.index}></td>
      <{section name=di  start=1  loop=$DEF_SET.days    step=1  }>
      <td><div class="groupbox span12" data_ref="group_<{$smarty.section.di.index}>_<{$smarty.section.si.index}>"  ><{$group}><br /><br /></div></td>
      <{ /section }>
      </tr>
      <{ /section }>
      </table>
      <{foreach  key=g_key item=group    from= $data.group_list }>
      <div class="row-fluid">
      	<div class="groupbox span2" data_ref="group_<{$g_key}>"  ><{$group}><br /><br /></div>
      	<div class="groupbox_list span10" data_ref="group_<{$g_key}>" id="group_<{$g_key}>">
      		<{foreach  key=u_key item=user    from= $data.group_users_list[$g_key] }>
      		  <span class="span2" data_ref="tea_<{$u_key}>_<{$user.name}>_group_<{$g_key}>"><label class="label label-success"><{$user.name}><i class="icon-trash icon-white del"></i></label></span>
      		<{/foreach}>
      	</div>
      </div>
      <{/foreach}>
      
      </div>      <!-- table_div end-->

      
      </div><!-- box1 end-->
      
      <div class="row-fluid">
      	<p>
            <span class="label label-info">說明</span><br/>
           把人員拖曳到各群組名稱上，就會加入該群組。垃圾桶圖示表示移出該群組。<br/>
           只出現校內教職員後的群組名稱。重複拖曳到同一群組，會出現多次姓名，但不影響資料的正確。 
        </p>  
      </div>
      
<script>
 
$(function () {
        $(".tea").draggable({
                revert: "valid",
                drag: function (event, ui) {
                        
                }
        });
        $(".subj").draggable({
                revert: "valid",
                drag: function (event, ui) {
                        
                }
        });        

        $(".groupbox").droppable({
                drop: function (event, ui) {
                	var group = $(this).attr("data_ref")  ;
                    var user_data = ui.draggable.attr('data_ref')
                    set_group(user_data ,group) ; 

                },
                out: function (event, ui) {
                        $(this).css("background-color", "")
                }
        });
        
        $(".teacher_set").droppable({
                drop: function (event, ui) {
                	var group = $(this).attr("data_ref")  ;
                    var user_data = ui.draggable.attr('data_ref')
                    set_group(user_data ,group) ; 

                },
                out: function (event, ui) {
                        $(this).css("background-color", "")
                }
        });        
});

function set_group(user_data ,group_box) {
	// user_data  tea_1_管理員
	var splits = user_data.split('_') ;
	var user = '<span class="span2" data_ref="'+ user_data + '_' +group_box +'"><label class="label label-success">'+ splits[2]+ '<i class="icon-trash icon-white del"></i></label></span>' ;
 //   $('#' + group_box ).append(user) ;
  //  ajax_teacher_group(user_data +'_'+group_box , 'add') ;

}

    //消除 ----------------------------------------------------------------------------------
  $(document).on("click", ".del", function(){

    var mark_id = $(this).parent().parent().attr("data_ref")  ;
    //alert (mark_id) ;
    var splits = mark_id.split('_') ;
    $(this).parent().parent().remove() ;
 //	ajax_teacher_group(mark_id, 'del') ;
  });
  
      var ajax_teacher_group=function( tid ,mode ){

      	  //記錄
            var URLs="ajax_set_group.php" ;
    
            $.ajax({
                url: URLs,
                type:"GET",
                dataType:'text',
				data:{id:tid,do:mode },
                success: function(msg){
                   // alert(msg);
                },

                 error:function(xhr, ajaxOptions, thrownError){
                    alert('error:' + xhr.status);
                    alert(thrownError);
                 }
           })
        }  

</script> 