<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
<script language='javascript' type='text/javascript' src='<{$xoops_url}>/modules/tadtools/My97DatePicker/WdatePicker.js'></script>

<{if ($data.error)}>
<div class="alert alert-error">
  重複或錯誤:<br />
<{$data.error}>
</div>
<{/if}>

<{if $data.info.year }>
<div class="row-fluid" >
      	<form action="main.php" enctype="multipart/form-data" method="post">
      	<span class="span6" ><h2>目前課表<{$data.info.year}>學年度  第<{$data.info.semester}>學期</h2></span>
      	<span class="span6" ><a class="btn btn-success" href="ed_timetable.php">開始編輯</a>
      	<button type="submit" name='act_clear'  value='刪除'  class="btn btn-danger" onclick='return confirm("真的要清空本學期課表，重新排課?")' >清空本學期</button>
        <button type="submit" name='act_clear_old'  value='刪除舊學期'  class="btn btn-danger" onclick='return confirm("刪除舊資料，只保存本學年課表資料?")' >刪除舊學期</button>
      	</span>
      	</form>
</div>


    <form action="main.php" enctype="multipart/form-data" method="post">
        <fieldset>
        <legend>參數設定</legend>
        <label class="checkbox">
          <input type="checkbox"  name="class_teacher_input" value="1" <{if $DEF_SET.input }>checked<{/if}>> 開放級任排課
        </label>
        匯出 word 課表，文字大小點數(14):
        <input type="text"  name="Fontsize"  title="文字大小" value="<{$DEF_SET.es_tt_fontsize}>" ><br />
        開放讀取課表年度：
        <input type="text"  name="OpenYear" placeholder="學年度如108" class="span2" title="學年度" value="<{$DEF_SET.es_tt_showYear}>">
        學期：<input type="text"  name="OpenSemester" placeholder="學期 (1 or 2)" class="span2" title="1 或 2" value="<{$DEF_SET.es_tt_showSemester}>">
        <button type="submit" name="do_key" class="btn btn-primary" title='設定開放讀取、級任排課' value='設定'>設定</button>
    </fieldset>
    </form>

	<a class="btn btn-info" href="export.php?mode=class_id">班級總表匯出</a>
	<a class="btn btn-info" href="export.php?mode=teacher">教師個別課表匯出</a>
	<a class="btn btn-info" href="export.php?mode=room">專科教室課表匯出</a><br /><br />

	<a class="btn btn-inverse" href="export_excel.php?mode=teacher" title='匯出 Excel 格式'>教師總表匯出</a>
    <a class="btn btn-inverse" href="export_excel_v.php?mode=teacher" title='匯出 Excel 格式'>教師總表直式匯出</a>
    <a class="btn btn-inverse" href="export_excel_cv.php?mode=class_id" title='匯出 Excel 格式'>班級總表匯出</a>
    <a class="btn btn-inverse" href="export_subject.php">班級配課表匯出</a>
    <a class="btn btn-inverse" href="export_edu.php" title='身份證、特殊班年級等要自行修正'>教育部課表匯出</a>
    <a class="btn btn-inverse" href="export_teacher_class.php">教師任課班級清冊</a>
  <br /><br />

    <form action="export_sign.php" enctype="multipart/form-data" method="post">
    <fieldset>
    <legend  >簽到名冊</legend>
    <span class="span2"><input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='beg_date'  class='span2'   value="<{$data.beg_date}>" placeholder="指定開始日期" title="指定開始日期"> </span>
     ~
    <input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='end_date'  class='span2'   value="<{$data.end_date}>" placeholder="指定結束日期"
    title="指定結束日期" >
    <button type="submit" name="do_2688"  value='2688' class="btn btn-success" title='任課教師指定身份類別，如2688、節數代課'>外聘教師簽到表</button>
    依經費：<{html_options name=over_id id=over_id  options=$DEF_SET.es_tt_over_list    class="span2" title="列印經費總類" }>
    <button type="submit" name="do_plus"  value='plus' title='如校內教師超鐘點、特別經費減課' class="btn btn-primary">校內依經費減課簽到表</button><br/>

    <{if $DEF_SET.es_tt_week_D}>
    <div class="row-fluid" >
    <span class="span2" title='一週的開始為星期一'>開始日該周為：</span>
    <span class="span1"><label  title='開始日在單週'><input type="radio" name="week_m" value="1" checked >單週 </label> </span>
    <span class="span1"><label title='開始日在雙週'><input type="radio" name="week_m" value="2">雙週</label> </span><br/>
    </div>
    <{/if}>

     <div class="row-fluid" >
        <a href="../../tad_cal/" target="_blank">本校行事曆</a>學期假日（有放假、補假字元）：

        <{foreach  key=t_key item=title    from= $data.holiday }>
             <span   ><label  title='<{$title}>'  class="label label-info">
             <{$t_key}></label></span>
        <{/foreach }>
        </div>
    </fieldset>
    </form>



    <form action="main.php" enctype="multipart/form-data" method="post">
    <fieldset>
    <legend>複製成新學期</legend>
    <input type="text" name="year" placeholder="新學年度(如 105 )" class="span2"><input type="text"  name="semester" placeholder="新學期 (1 or 2)" class="span2" title="1 或 2">
    <button type="submit" name="do_key" class="btn btn-warning" title='按此鍵複製為學期'>複製</button>
    </fieldset>

    </form>


<{else}>
尚未建立課表資料！
<{/if}>




    <form action="ed_timetable.php" enctype="multipart/form-data" method="get">

    <fieldset>
        <legend>建新學期</legend>
    <input type="text" name="year" placeholder="學年度(如 105 )" class="span2"><input type="text"  name="semester" placeholder="學期 (1 or 2)" class="span2" title="1 或 2">
    <button type="submit" name="do_key" class="btn btn-primary" title='按此鍵建製新學期'>建製新學期</button>
    </fieldset>
    </form>

 <div class="alert alert-danger">
    <form action="import_edu.php" enctype='multipart/form-data' method=post  >
    <legend>由教育部課表匯入建新學期</legend>
    <input type="text" name="year" placeholder="學年度(如 109 )" class="span2"><input type="text"  name="semester" placeholder="學期 (1 or 2)" class="span2" title="1 或 2">
    <p><input type="checkbox" name="sect_remove" >全部匯入，科目設定、任課教師名冊一併清除重建。</p>
    <label>上傳 教育部課表 XLSX (excel2007)檔案:</label>
    <input type="file" name="edutable"  accept=".xlsx">
    <button type="submit" name="do_key" class="btn btn-danger" title='按此鍵建製新學期'>匯建新學期</button>
    <p>1.使用匯入功能，代表不是由本系統建制的課表，所以該學期課表全部清除。</p>
    <p>2.先確定偏好中教師群組設定，並在"任課教師"功能是否完整取教師名，否則匯入教師無法和系統註冊人員相關聯，無法提供級任編修權限。另同名者請先調整。</p>
    <p>3.先整理"科目設定"中的科目及使用年級。比對時會以匯入教育部檔"科目"欄，和"科目設定" 其中的教育部系統第三欄△作比對。</p>
    <p>4.匯入課表會受"教學組排課保護"限制。</p>
    </fieldset>
    </form>
</div>



       <div class="alert alert-info">
        <p>
            <span class="label label-info">說明</span><br />
    <ul>
    <li>
    教育部課表匯出可以產生符合國民中小學教師人力資源網課表，但有些部份仍需要自行調整。例教師身份證號，本土語言為閩南語或客語等，特殊班如資源班上課年級等。
    </li>
    <li>
    外聘教師需要在任課教師中設定身份類別。
    </li>
    <li>
    校內教師依經費減課，在指定超鐘點項中指定減免的節次。
    </li>
    <li>
    支援單雙週排課，需要在偏好中設定。列印簽到名冊單雙週開始日以週一為一週的啟始日。
    </li>
    <li>
    抓取 tad_cal 行事曆，使用關鍵字(在偏好中設定，如 "放假,補假"  )並略去當天課表。
    </li>
    </ul>

        </p>
      </div>
