<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />

<div class="row-fluid" >
    <form action="set_subject.php" enctype="multipart/form-data" method="POST">
    <fieldset>
    <input type="text" name="new_kmo" placeholder="新增科目，可以逗號分隔多項" class="span4">
    <button type="submit" name="do_key" class="btn btn-primary">新增科目</button>
    </fieldset>
    </form>
<table class="table table-hover ">
<tr>
<td>代號</td>
<td class="span2">課表呈現科目名</span></td>
<td class="span2">配合教育部領域、科目、校訂科目(供匯入教育部系統用)</td>
<{foreach  key=g_key item=grade    from= $DEF_SET.grade }>
<td><{$grade}>年級</td>
<{/foreach}>
<td>特殊班</td>
</tr>

<{foreach  key=s_key item=subject   from=$data.subject_name  }>
<tr><td><{$s_key}></td>
<td class="span2">
  <input type="text" id="name_<{$s_key}>" value="<{$subject.subject}>" class="sub_edit span9" title="課表出現名稱">
</td>
<td class="span6 alert-info">
     <i class="icon-remove" data_ref="<{$s_key}>" title="刪除這個科目"></i>
  <input type="text" id="scope_<{$s_key}>" value="<{$subject.scope}>" class="scope_edit span3" title="配合教育部領域名稱" placeholder="領域名稱">
  <input type="text" id="esubject_<{$s_key}>" value="<{$subject.e_subject}>" class="e_subject_edit span3" title="配合教育部科目" placeholder="科目">
  <input type="text" id="ssubject_<{$s_key}>" value="<{$subject.s_subject}>" class="s_subject_edit span3" title="配合教育部校訂科目"  placeholder="校訂科目">
</td>
<{foreach  key=g_key item=grade    from= $DEF_SET.grade }>
	<td>
		<{if $data.grade_subject[$grade][$s_key]}>
   		 	<label class="checkbox"><input type="checkbox"  value="1" id="chk_<{$grade}>_<{$s_key}>" checked class="chk" >使用</label>
   		<{else}>
   			<label class="checkbox"><input type="checkbox"  value="1" id="chk_<{$grade}>_<{$s_key}>" class="chk" >使用</label>
   		<{/if}>

  	</td>
<{/foreach}>
  <td>
    <{* 特殊班,代號 99   *}>
    <{if $data.grade_subject[99][$s_key]}>
        <label class="checkbox"><input type="checkbox"  value="1" id="chk_99_<{$s_key}>" checked class="chk" >使用</label>
      <{else}>
        <label class="checkbox"><input type="checkbox"  value="1" id="chk_99_<{$s_key}>" class="chk" >使用</label>
      <{/if}>

    </td>
</tr>
<{/foreach}>

</table>

</div>
      <div class="alert alert-info">
        <p>
            <span class="label label-info">說明</span><br />
            語文領域,數學領域,社會領域, 自然與生活科技領域, 藝術與人文領域, 綜合活動領域, 健康與體育領域,  生活領域,<br />
            特殊教育領域, 藝才班專門課程 , 體育班專門課程, 彈性課程 <br /><br />
            國語 ,英語 ,本土語言 ,數學,社會,自然,電腦,視覺藝術(美術),音樂,表演藝術,綜合活動,健康,體育,生活 ... <br /><br />

            特殊班指資源班之類班級，配合偏好中特殊班級運用。

        </p>
      </div>


<script>

//刪除
$(function() {
	$(".icon-remove").click(function(){
		if ( confirm ("確定要刪除？ ") ) {
			var v_id = $( this ).attr('data_ref') ;
			//alert(v_id) ;
 			window.location.href = 'set_subject.php?do=del&id='+ v_id;
 		}
	});
});


//修改科目
$(function() {
	$(".sub_edit").change(function(){
		var v_id = $( this ).attr('id') ;
		var edit_text = $( this ).val();
		//alert(v_id) ;
 		save_subject( 'edit' ,v_id ,  edit_text ) ;
	});
});

//修改領域名
$(function() {
  $(".scope_edit").change(function(){
    var v_id = $( this ).attr('id') ;
    var edit_text = $( this ).val();
    //alert(v_id) ;
    save_subject( 'edit' ,v_id ,  edit_text ) ;
  });
});

//修改領域名
$(function() {
  $(".e_subject_edit").change(function(){
    var v_id = $( this ).attr('id') ;
    var edit_text = $( this ).val();
    //alert(v_id) ;
    save_subject( 'edit' ,v_id ,  edit_text ) ;
  });
});

//修改領域名
$(function() {
  $(".s_subject_edit").change(function(){
    var v_id = $( this ).attr('id') ;
    var edit_text = $( this ).val();
    //alert(v_id) ;
    save_subject( 'edit' ,v_id ,  edit_text ) ;
  });
});

 //寫入科目
 function save_subject(do_mode ,tid , sdata )  {
  	$.ajax({
 		url: 'ajax_set_subject.php',
 		type: 'GET',
 		data: {do: do_mode , id:tid  , setdata :sdata    },
 	})
 	.done(function(data) {
 		console.log("success");
 		//alert(data) ;
 	})
 	.fail(function() {
 		console.log("error");

 	})
 	.always(function() {
 		console.log("complete");
 	});
  }


//指定年級使用
$(function () {
        $(".chk").click(function(){
 			var id = $(this).attr('id')  ;

 			var var_data = "do_" + $(this).prop("checked") ;
 			//alert (var_data) ;
 			ajax_grade_subject(id ,var_data)
        });

});

      var ajax_grade_subject=function( tid ,mode ){

      	  //記錄
            var URLs="ajax_set_grade_subject.php" ;

            $.ajax({
                url: URLs,
                type:"GET",
                dataType:'text',
				data:{id:tid,do:mode },
                success: function(msg){
                   // alert(msg);
                },

                 error:function(xhr, ajaxOptions, thrownError){
                    alert('error:' + xhr.status);
                    alert(thrownError);
                 }
           })
        }



</script>
